*{
	box-sizing: border-box;
}
h1{
	text-align: center;
	font-weight: bold;
}
.row {
	width: 100%;
}
@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		border: 3px solid black;
	}
	.col-lg-4 {
		width: 33%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
		border: 3px solid black;
	}
	.col-md-6 {
		width: 50%;
	}
}
@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
		border: 3px solid black;
	}
	.col-md-6 {
		width: 100%;
	}
}
.chicken {
	background-color: gray;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-right: 5px;
}
.beef {
	background-color: gray;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-right: 5px;
}
.sushi {
	background-color: gray;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-right: 1px;
}
.hd1 {
	float: right;
	background-color: tomato;
	border: 3px solid black;
}
.hd2 {
	float: right;
	background-color: mediumseagreen;
	border: 3px solid black;
}
.hd3 {
	float: right;
	background-color: orange;
	border: 3px solid black;
}